@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;900&family=Open+Sans:wght@300;500&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.3vw;
    line-height: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

#siteNavigation {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#heading {
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-weight: 1000;
}

#footer-links {
    margin-top: 5vw;
    margin-bottom: 2vw;
}